form {
    display: flex;
    width: 100%;
}

.mat-form-field {
    flex: 1;
    margin: 0 10px;
}

.search_uniqueIds {
    padding-right: 10px;
    min-width: 500px;

    .mat-form-field {
        margin: 0;
        width: 100%;
    }
    .mat-radio-button {
        margin-right: 20px;
    }
}
